@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

svg {
  font-family: "Croissant One", sans-serif;
  width: 100%;
  height: 50%;
}

svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 3;
  stroke-linecap: round;
  stroke: #365FA0;
  font-size: 20px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  30% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  40% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  50% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.underConstruction {
  background-color: #FFFFFF
}

;

.container {
  display: flex;
  flex-direction: column;

}

.footer {
  width: 100%;
  display: flex;

}