.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  bottom: 0;
  width: 100%;
  color: white;
  font-weight: 600;
  font-style: italic;
  font-family: 'Exo 2', sans-serif;
  font-size: xx-small;
  background: #01010A;
  background: linear-gradient(to right, #01010A 0%, #C7CDCF 100%);
}